<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}后台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <style>
        select{width: 69%;}
        .current{background-color:rgba(0,255,150,0.5);}
        .prev,.num,.next,.current{width:auto;height:auto;margin:4px;padding:8px 10px;box-shadow:0 0 2px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.1);}
        tr img{width:40px;height:40px;}
        .tr_width_3{width: 30%;}
    </style>
    <script type="text/javascript">
        var MODULE = "__MODULE__";
    </script>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">评论管理</li>
                <li class="active">商品评论</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <div class="col-sm-4 col-xs-6">
                    <form class="bs-example bs-example-form" action="__ACTION__" id="sf">
                        <div class="input-group" style="margin-bottom: 3%;">
                            <input type="text" class="form-control" placeholder="评论内容搜索" value="{$keyword}" name="keyword">
                            <a onClick="document.getElementById('sf').submit();" class="input-group-addon"><i class="icon-search"></i></a>
                        </div>
                    </form>
                </div>
                <a href="{:U('Admin/Goods/exportGoodsComment',array('keyword'=>$keyword))}"
                   class='btn btn-sm btn-primary pull-left'>导出Excel</a>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>用户头像</th>
                    <th>用户昵称</th>
                    <th class="tr_width_3">商品</th>
                    <th>评论内容</th>
                    <th>评论时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="list" item="l" key="k">
                    <tr>
                        <td>{$k+1}</td>
                        <td>
                            <empty name="l['u_image']">
                                <img src="__PUBLIC__/img/default_headicon.png">
                                <else/>
                                <!--<img src="__APP__{$l.u_image}">-->
                                <img src="{:str_replace('/Public/uploads/','__APP__/Public/uploads/',$l['u_image'])}" alt="">
                            </empty>
                        </td>
                        <td>{$l.nickname}</td>
                        <td>{$l.goods_name}</td>
                        <td>{$l.content}</td>
                        <td>{$l.time|date='Y-m-d H:i:s',###}</td>
                        <td class="operation">
                            <a href="javaScript:void(0);" onclick="delGoodsComment('{$l.g_comment_id}');">删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div class="text-center">
                {$page}
            </div>
        </div><!--myTabContent-->
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>
</body>

<script>
    $(".plgl").addClass("active open");
    $(".plgl .sppl").addClass("active");
</script>
<script>
    //删除商品评论
    function delGoodsComment(id){
        if(confirm("是否删除该数据")){
            $.post("{:U('Admin/Goods/delGoodsComment')}",{'id':id},function(data){
                alert(data.msg);
                if('0'==data.errorCode){
                    window.location.reload();
                }
            });
        }
    }
</script>
</html>
