<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/god_male.css">
    <script src="__JS__/jquery-1.12.4.js"></script>
    <script src="__JS__/unified.js"></script>
    <script src="__JS__/god_male.js"></script>
</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="god" class="clear">
    <div class="god_box">
        <div class="god_choose">
            <ul class="choose_text">
                <foreach name="c_list" item="c">
                <li>
                    <p>{$c.name}</p>
                    <div class="choose_box hide">
                        <ul>
                            <foreach name="c['cate_list']" item="c2">
                            <li data-good_value="{$c2.g_cate_id}">
                                <div class="choose_img_box">
                                    <img src="__APP__{$c2.image}" alt="1">
                                </div>
                                <span>{$c2.name}</span>
                            </li>
                            </foreach>
                        </ul>
                    </div>
                </li>
                </foreach>
            </ul>

        </div>
    </div>
</div>


<div id="god_male" class="clear">
    <div class="male_box">

        <div class="baby_details">
            <ul>

            </ul>
        </div>

        <div class="choose_page"></div>

    </div>


</div>


</div>

<include file="Public/link_file/footer.html" />
<script>
    $(function(){
        var id_a = $('.choose_text li:eq(0) div ul li:eq(0)').attr('data-good_value');
        getGoods(id_a,1);
    });
    $('.choose_text li div ul li').click(function(){
        var cate_id = $(this).attr('data-good_value');
        getGoods(cate_id,1);
    });

    function getGoods(cate_id,page){
        $.ajax({
            type: "GET",
            url: "__CONTROLLER__/goodsList?"+Math.random(),
            data: {'cate_id':cate_id, 'page':page, 'methodName':'getGoods'},
            dataType: "json",
            success: function(data){
                var result = eval(data);
                var goods_list = result.goods_list;
                var page_info = result.page_info;
                var str = "";
                for(var i=0; i<goods_list.length; i++){
                    str += '<li><a href="'+goods_list[i].tb_link+'" target="_blank"><div class="baby_img"><img src="__APP__'+goods_list[i].image+'" alt=""></div></a>';
                    str += '<a href="'+goods_list[i].tb_link+'" target="_blank"><div class="baby_content"><p>'+goods_list[i].name+'</p><a/>';
                    str += '</div><div class="baby_price"><div class="price"><span>￥'+parseFloat(goods_list[i].price).toFixed(2)+'</span></div>';
                    str += '<div class="praise" data-gid="'+goods_list[i].goods_id+'">';
                    if(goods_list[i].is_col==1){
                        str += '<div class="parise_solid_ico"></div>';
                    }else{
                        str += '<div class="praise_ico"></div>';
                    }
                    str += '<span>'+goods_list[i].collect_count+'</span></div></div></li>';
                }
                $('.baby_details ul').html(str);
                $('.choose_page').html(page_info);
                var page_div = $('.choose_page > div').width()/2;
                $('.choose_page div').css('margin-left',-page_div);

                //收藏
                /*$('.praise').click(function(){
                    var gid = $(this).attr('data-gid');
                    if($(this).children('div').hasClass('praise_ico')){
                        $.post('__CONTROLLER__/collectGoods',{'gid':gid,'type':0},function(data){
                            if(data.errorCode==101){
                                $('#maskLayer').show();
                                $('#login').show();
                                $("#maskLayer").height(pageHeight());
                            }else{
                                alert(data.msg);
                                $(this).children('div').attr('class','parise_solid_ico');
                            }
                        });
                    }else{
                        $.post('__CONTROLLER__/collectGoods',{'gid':gid,'type':1},function(data){
                            if(data.errorCode==101){
                                $('#maskLayer').show();
                                $('#login').show();
                                $("#maskLayer").height(pageHeight());
                            }else{
                                alert(data.msg);
                                $(this).children('div').attr('class','praise_ico');
                            }
                        });
                    }
                });*/
                $('.praise').click(function(){

                    var gid = $(this).attr('data-gid');
                    if($(this).children('div').hasClass('praise_ico')){
                        $.post('__CONTROLLER__/collectGoods',{'gid':gid,'type':0},function(data){
                            if(data.errorCode==101){
                                $('#maskLayer').show();
                                $('#login').show();
                                $("#maskLayer").height(pageHeight());
                            }else{
                                alert(data.msg);
                                $(this).children('div').attr('class','parise_solid_ico');
                            }
                        });
                    }else{
                        $.post('__CONTROLLER__/collectGoods',{'gid':gid,'type':1},function(data){
                            if(data.errorCode==101){
                                $('#maskLayer').show();
                                $('#login').show();
                                $("#maskLayer").height(pageHeight());
                            }else{
                                alert(data.msg);
                                $(this).children('div').attr('class','praise_ico');
                            }
                        });
                    }

                    if($(this).children('div').hasClass('praise_ico')){
                        var zs = parseInt($(this).children('span').html()) +1;
                        $(this).children('div').attr('class','parise_solid_ico');
                        $(this).children('span').html(zs);

                    }else{
                        var fs = parseInt($(this).children('span').html()) -1;
                        $(this).children('div').attr('class','praise_ico');
                        $(this).children('span').html(fs);
                    }


                    //获取当前页面高度
                    function pageHeight() {
                        return document.body.scrollHeight;
                    }
                    $("#maskLayer").height(pageHeight());
                    //窗口改变，遮罩层自适应
                    $(window).resize(function(){
                        $("#maskLayer").height(pageHeight());
                    });



                });





            }
        });
    }
</script>
</body>
</html>