<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/my_baby.css">
    <script src="__JS__/jquery-1.12.4.js"></script>
    <script src="__JS__/unified.js"></script>
    <script src="__JS__/my_baby.js"></script>

</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="search_baby" class="clear">
    <div class="search_box">
        <div class="search_title">
            <a href="#"><span class="baby_title">宝贝</span></a>
            <a href="{:U('Subject/searchSubject',array('keyword'=>$keyword))}"><span class="notes_title">美文</span></a>
        </div>
        <div class="baby_details">
            <ul>
                <notempty name="goods_list">
                    <foreach name="goods_list" item="g">
                        <a href="{$g.tb_link}" target="_blank">
                            <li>
                                <div class="baby_img">
                                    <img src="__APP__{$g.image}" alt="">
                                </div>
                                <div class="baby_content">
                                    <p>{$g.name}</p>
                                </div>
                                <div class="baby_price">
                                    <div class="price">
                                        <span>￥{$g.price}</span>
                                    </div>
                                    <div class="praise">
                                        <div class="praise_ico"></div>
                                        <span>{$g.collect_count}</span>
                                    </div>
                                </div>
                            </li>
                        </a>
                    </foreach>
                    <else/>
                    <h2>搜索结果为空</h2>
                </notempty>
            </ul>

        </div>
        <div class="choose_page">
            {$page}
        </div>
    </div>

</div>

<include file="Public/link_file/footer.html" />

</body>
</html>