<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/back_css/edit_common.css">

    <script src="__PUBLIC__/back_js/thumb_img.js"></script>
    <script src="__PUBLIC__/back_js/jquery-form.js"></script>
    <style>
        #commodity_main input[type=file]{margin-bottom: 10px;}
        #commodity_main img{width: 190px;height: 100px;}
        #commodity_main .user_image img{width: 100px;height: 100px;}
        #adg_btn{border: none;background: #1EB4C6;width: 80px;height: 30px;
            color: #fff;float: right;margin-right: 50px;margin-top: 20px;
            cursor: pointer;line-height: 31px;text-align: center;}
        #table_s_goods th{padding: 8px!important;text-align: center!important;}
        #table_s_goods td{text-align: center!important;}
        #table_s_goods img{width: 40px;height: 40px;margin: 0px;}
    </style>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">文章管理</li>
                <li class="active">文章列表</li>
                <li class="active">编辑文章</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div id="commodity_details">
            <h1><img src="__PUBLIC__/back_img/ico.png"><empty name="Think.get.id">添加<else/>修改</empty>文章
                <a href="javascript:history.go(-1);"><span><img src="__PUBLIC__/back_img/return.png"></span></a></h1>
            <div id="commodity_list">
                <!--通用信息_开始-->
                <form action="__ACTION__" method="post" id="goods_form" enctype="multipart/form-data" >

                    <div id="commodity_main" class="clear">
                        <table>
                            <input type="hidden" value="{$subject['subject_id']}" name="id">
                            <tr>
                                <th>文章分类：</th>
                                <td>
                                    <select name="s_cate_id">
                                        <foreach name="subject_cate" item="c">
                                        <option value="{$c['s_cate_id']}"
                                        <if condition="$c['s_cate_id'] eq $subject['s_cate_id']">selected="selected"</if>
                                        >{$c.name}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>图片：</th>
                                <td>
                                    <empty name="subject['image']">
                                        <img src="" id="to_image">
                                        <else/>
                                        <img src="__APP__{$subject.image}" id="to_image">
                                    </empty>
                                    <input type="file" id="form_image" onchange="getImageFormat('form_image','to_image');" name="form_image"/>
                                </td>
                            </tr>
                            <tr>
                                <th>详情图片：</th>
                                <td>
                                    <empty name="subject['image_content']">
                                        <img src="" id="to_image_content">
                                        <else/>
                                        <img src="__APP__{$subject.image_content}" id="to_image_content">
                                    </empty>
                                    <input type="file" id="form_image_content"
                                           onchange="getImageFormat('form_image_content','to_image_content');" name="form_image_content"/>
                                </td>
                            </tr>
                            <tr>
                                <th>文章名称：</th>
                                <td><input type="text" value="{$subject.name}" name="name"></td>
                            </tr>
                            <tr>
                                <th>文章介绍：</th>
                                <td><input type="text" value="{$subject.text_content}" name="text_content2"></td>
                            </tr>
                            <tr>
                                <th>所属性别：</th>
                                <td>
                                    <select name="sex">
                                        <option value="1"
                                        <if condition="1 eq $subject['sex']">selected="selected"</if>
                                        >男</option>
                                        <option value="2"
                                        <if condition="2 eq $subject['sex']">selected="selected"</if>
                                        >女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>发布者昵称：</th>
                                <td><input type="text" value="{$subject.user_nickname}" name="user_nickname"></td>
                            </tr>
                            <tr>
                                <th>发布者头像：</th>
                                <td class="user_image">
                                    <empty name="subject['user_image']">
                                        <img src="" id="to_user_image">
                                        <else/>
                                        <img src="__APP__{$subject.user_image}" id="to_user_image">
                                    </empty>
                                    <input type="file" id="form_user_image"
                                           onchange="getImageFormat('form_user_image','to_user_image');" name="form_user_image"/>
                                </td>
                            </tr>
                            <tr>
                                <th>发布者简介：</th>
                                <td><input type="text" value="{$subject.user_introduce}" name="user_introduce"></td>
                            </tr>
                            <tr>
                                <th>评论数：</th>
                                <td><input type="text" value="{$subject.comment_count}" name="comment_count"></td>
                            </tr>
                            <tr>
                                <th>收藏数：</th>
                                <td><input type="text" value="{$subject.collect_count}" name="collect_count"></td>
                            </tr>
                            <tr>
                                <th>分享数：</th>
                                <td><input type="text" value="{$subject.share_count}" name="share_count"></td>
                            </tr>
                        </table>
                        <!-- 商品列表-start -->
                        <table class="table table-bordered" id="table_s_goods">
                            <thead>
                            <tr>
                                <th>商品ID</th>
                                <th>商品名称</th>
                                <th>商品图片</th>
                                <th>文本介绍</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <foreach name="goods_list" item="g">
                                <tr class="data_gl_{$g.goods_id}">
                                    <td>
                                        {$g.goods_id}
                                        <input type="hidden" value="{$g.goods_id}" name="goods_lis[]">
                                    </td>
                                    <td>{$g.name}</td>
                                    <td><img src="__APP__{$g.image}"></td>
                                    <td><input type="text" name="text_content[]" value="{$g.text_content}"></td>
                                    <td>
                                        <a href="javaScript:void(0);" onclick="delSGoods('{$g.goods_id}');">删除</a>
                                    </td>
                                </tr>
                            </foreach>
                            <foreach name="Think.session.goods_temp" item="g">
                                <tr class="data_gl_{$g.goods_id}">
                                    <td>
                                        {$g.goods_id}
                                        <input type="hidden" value="{$g.goods_id}" name="goods_lis[]">
                                    </td>
                                    <td>{$g.name}</td>
                                    <td><img src="__APP__{$g.image}"></td>
                                    <td><input type="text" name="text_content[]" value="{$g.text_content}"></td>
                                    <td>
                                        <a href="javaScript:void(0);" onclick="delSGoods('{$g.goods_id}');">删除</a>
                                    </td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                        <!-- 商品列表-end -->
                    </div>
                    <input id="li1_btn" type="button" value="保存"/>
                    <a href="javascript:toAddGoods();" id="adg_btn">添加商品</a>
                </form>
                <!--通用信息_结束-->
            </div>
        </div>
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>

</body>

<script>
    $(".wzgl").addClass("active open");
    $(".wzgl .wzlb").addClass("active");
    var MODULE = '__MODULE__';
    $('#li1_btn').click(function(){
        $('#goods_form').ajaxSubmit({
            url:"__ACTION__",
            dataType: "json",
            beforeSend: function() {
                $('#li1_btn').attr('disabled','true');
                $('#li1_btn').attr('value','上传中...');
            },
            type: "post",
            data:{
                'image_2':$("#to_image").attr('src'),
                'image_content_2':$("#to_image_content").attr('src'),
                'user_image_2':$("#to_user_image").attr('src'),
            },
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success : function(data){
                alert(data.msg);
                if(0==data.errorCode){
                    location.href = "{:U('Admin/Subject/subjectList')}";
//                    location.href = document.referrer;
                }else{
                    $('#li1_btn').removeAttr('disabled');
                    $('#li1_btn').attr('value','保存');
                }
            }
        });
    });
    //删除商品数据
    function delSGoods(id){
        $('.data_gl_'+id).remove();
    }
    function toAddGoods(){
        $('#goods_form').ajaxSubmit({
            url:MODULE+"/Subject/saveSubject2Session",
            dataType: "json",
            type: "post",
            data:{
                'image_2':$("#to_image").attr('src'),
                'image_content_2':$("#to_image_content").attr('src'),
                'user_image_2':$("#to_user_image").attr('src'),
            },
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success : function(data){
                if(0==data.errorCode){
                    window.location.href = "{:U('Admin/Subject/addSubjectGoodsPage')}";
                }else{
                    alert('数据错误');
                }
            }
        });
    }

</script>
</html>
