<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/back_css/edit_common.css">

    <script src="__PUBLIC__/back_js/jquery-form.js"></script>
    <script src="__PUBLIC__/back_js/subject_goods.js"></script>
    <style>
        #commodity_main input[type=file]{margin-bottom: 10px;}
        #commodity_main img{width: 190px;height: 100px;}
        .cate_g{float: left;margin: 10px;}
        .cate_g p{margin-bottom: 5px;}
        .table-bordered td img{width: 40px;height: 40px;}
    </style>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">文章管理</li>
                <li class="active">文章列表</li>
                <li class="active">编辑文章商品</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div id="commodity_details">
            <h1><img src="__PUBLIC__/back_img/ico.png">编辑文章商品
                <a href="javascript:history.go(-1);"><span><img src="__PUBLIC__/back_img/return.png"></span></a></h1>
            <div id="commodity_list">
                <!--通用信息_开始-->
                <div id="commodity_main" class="clear">
                    <table>
                        <tr>
                            <th>图片：</th>
                            <td>
                                <img src="__APP__{$subject.image}">
                                <input type="text" value="{$subject.name}" name="name" disabled="disabled">
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <form action="__ACTION__" method="post" id="cate_g_form">
                        <input type="hidden" value="{$sid}" name="sid">
                        <div class="cate_g">
                            <p>一级分类</p>
                            <select id="edit_sex">
                                <option value="1">男神</option>
                                <option value="2">女神</option>
                            </select>
                        </div>
                        <div class="cate_g">
                            <p>二级分类</p>
                            <select id="edit_second">
                            </select>
                        </div>
                        <div class="cate_g">
                            <p>三级分类</p>
                            <select id="edit_third">
                            </select>
                        </div>
                        <div class="cate_g cate_g_name">
                            <p>商品名称:</p>
                            <select id="goods_list_v" name="gid">
                            </select>
                        </div>
                            <input id="li1_btn" type="button" value="添加" onclick='addSubjectGoods();'/>
                    </form>
                </div>
                <table class="table table-bordered" id="table_s_goods">
                    <thead>
                    <tr>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="goods_list" item="g">
                        <tr data-sg_id="{$g.sg_id}">
                            <td>{$g.goods_id}</td>
                            <td>{$g.name}</td>
                            <td><img src="__APP__{$g.image}"></td>
                            <td>
                                <a href="javaScript:void(0);" class="sg_del">删除</a>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>

                <!--通用信息_结束-->
            </div>
        </div>
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>

</body>

<script>
    $(".wzgl").addClass("active open");
    $(".wzgl .wzlb").addClass("active");
    //添加专题商品
    function addSubjectGoods(){
        $.ajax({
            type: 'POST',
            url: "__ACTION__",
            data: $('#cate_g_form').serialize(),
            dataType: "json",
            success: function(data) {
                alert(data.msg);
                if(0==data.errorCode){
                    var goods = data.data;
                    var str = '<tr data-sg_id="'+goods.sg_id+'"><td>'+goods.goods_id+'</td><td>'+goods.name+'</td><td>';
                    str += '<img src="__APP__'+goods.image+'"></td><td><a href="###">删除</a></td></tr>';
                    $('#table_s_goods').append(str);
                }
            }
        });
    }
    $(function(){
        $('.sg_del').click(function(){
            var sg_id = $(this).parent().parent().attr('data-sg_id');
            if(confirm("确定要删除该数据吗？")){
                $.post("{:U('Admin/Subject/delSubjectGoods')}",{'sg_id':sg_id},function(data){
                    alert(data.msg);
                    if(data.errorCode == 0){
                        window.location.reload();;
                    }
                });
            }
        });
    })
</script>
</html>
