#god_male{
    min-width:1280px;
}
#god_male .male_box{
    width:960px;
    margin:0 auto;
}
#god_male .male_box .male_choose{
    border:1px solid #ddd;
    float: left;
    margin:20px 0px 30px 0px;
    width:100%;
}
#god{
    min-width:1280px;
}
#god .god_box{
    width:960px;
    margin:0 auto;
}
#god .god_box .god_choose{
    border:1px solid #ddd;
    float: left;
    height:200px;
    margin:20px 0px 30px 0px;
    width:100%;
}
.choose_text{
    position: relative;
    border-bottom:1px solid #ddd;
    height: 50px;
}

.choose_text li{
    float: left;
    line-height:48px;
    margin:0px 10px 0px 20px;
    cursor: pointer;
}
.choose_text li p:hover,.border{
    color: #139ffc;
    border-bottom:3px solid #139ffc;
}

.choose_text .choose_box{
    position: absolute;
    top:80px;
    left: 30px;
    text-align: center;
    color: #666;
}
.choose_text .choose_img_box  .choose_img{
    border:1px solid #139ffc;
    margin:-1px;
}
.choose_text .choose_img_box .add_choose{
    border:1px solid #139ffc;
    margin:-1px;
}
.choose_text .choose_box .choose_img_box img{
    width:64px;
    height:64px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;

}
.choose_text .choose_box .color,.choose_color{
    color: #139ffc;
}






#god_male .baby_details {
    float: left;
    width:100%;
}
#god_male .baby_details ul{
    float: left;
    margin-left:-24px;
}
#god_male .baby_details ul li{
    width:220px;
    height:332px;
    float: left;
    border:1px solid #e6e6e6;
    margin-bottom:20px;
    margin-left:24px;
}
#god_male .baby_details ul li:hover{
    -webkit-box-shadow: 2px 2px 8px #999;
    -moz-box-shadow: 2px 2px 8px #999;
    box-shadow: 1px 2px 8px #ddd;
}
#god_male .baby_img{
    width: 220px;
    height:220px;
    overflow: hidden;
}
#god_male .baby_img img{
    max-width:222px;
    max-height:222px;
}
#god_male .baby_content {
    padding:20px 10px;
}
#god_male .baby_content p{
    height:40px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#god_male .baby_price{
    padding:0px 10px;
}
#god_male .baby_price .price{
    float: left;
    color: #ff2d47;
}
#god_male .baby_price .praise{
    cursor: pointer;
}
#god_male .baby_price .praise_ico{
    width:18px;
    height:20px;
    float: left;
    background-image: url(../img/praise_ico.png);
    background-repeat:no-repeat;
    background-position: 0px 2px;
}
#god_male .baby_price .parise_solid_ico{
    width:18px;
    height:20px;
    float: left;
    background-image: url(../img/parise_solid_ico.png);
    background-repeat:no-repeat;
    background-position: 0px 2px;
}
#god_male .baby_price .praise{
    float: right;
    color: #999;
    margin-top:4px;
}
#god_male .choose_page{
    margin-bottom:70px;
    margin-top:30px;
    float: left;
    margin-left:50%;
}
#god_male .choose_page ul{
    float: left;
}
#god_male .choose_page ul li{
    float: left;
    margin-left:10px;
    text-align: center;
    width:30px;
    height:30px;
    line-height:30px;
    background: #e6e6e6;
}
#god_male .choose_page ul li:hover{
    color: #fff;
    background: #139ffc;
}
#god_male .choose_page a{
    color: #999;
}
#god_male .choose_page .point{
    background: none;
    color: #999;
}
#god_male .choose_page .point:hover{
    background: none;
    color: #999;
}
#god_male .choose_page .selected{
    color: #fff;
    background: #139ffc;
}




