#search_notes{
    min-width:1280px;
}

#search_notes .search_box,#search_notes .search_title {
    width:960px;
    margin: 0 auto;
}

#search_notes .search_title .search_title_box{
    margin:30px 0;
    float: left;
    width:100%;
    border-bottom:2px solid #e6e6e6;
}
#search_notes .search_title .search_title_box .baby_title{
    display: block;
    float: left;
    width:65px;
    height:37px;
    text-align: center;
    line-height:37px;
    margin-left:20px;

}
#search_notes .search_title .search_title_box .notes_title{
    display: block;
    float: left;
    width:65px;
    height:37px;
    line-height:37px;
    text-align: center;
    cursor: pointer;
    border:2px solid #e6e6e6;
    border-bottom:none;
    background: #fff;
    margin-bottom:-2px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    color: #139ffc;
}



#search_notes .beauty_box{
    width:960px;
    margin:0 auto;
}
#search_notes .beauty_text{
    float: left;
}
#search_notes .beauty_text ul{
    margin-left:-20px;
    float: left;
}
#search_notes .beauty_text ul li{
    float: left;
    width:304px;
    height:300px;
    margin-left:20px;
    margin-bottom:30px;
    border:1px solid #e5e5e5;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    overflow: hidden;
    position: relative;
}
#search_notes .beauty_text ul li:hover{
    -webkit-box-shadow: 2px 2px 8px #999;
    -moz-box-shadow: 2px 2px 8px #999;
    box-shadow: 1px 2px 8px #ddd;
}
#search_notes .beauty_text ul li .text_img{
    height:140px;
    overflow: hidden;
}
#search_notes .beauty_text ul li .text_img img{
    width:100%;
}
#search_notes .beauty_text .text_title{
    font-size:18px;
    color: #1a1a1a;
    padding:10px 0px 0px 10px;
}
#search_notes .beauty_text .text_content p{
    color: #808080;
    padding:5px;
    height:54px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#search_notes .beauty_text .text_content {
    padding-bottom:15px;
    margin:0 5px;
    border-bottom:1px solid #e5e5e5;

}
#search_notes .s_c_c .share,.s_c_c .collection,.s_c_c .comment{
    float: left;
    margin-top:10px;
    width:33.33%;
}

#search_notes .share_ico,.collection_ico,.comment_ico{
    width:20px;
    height:20px;
    margin-top:2px;
    float: left;
    margin-left:20px;
    background-repeat:no-repeat;
}
#search_notes .share_ico{
    background-image: url(../img/share_ico.png);
}
#search_notes .collection_ico{
    background-image: url(../img/collection_heart_ico.png);
}
#search_notes .comment_ico{
    background-image: url(../img/comment_ico.png);
}
#search_notes .jump_top{
    position: fixed;
    bottom:200px;
}
#search_notes .jump_box{
    margin-left:520px;
    display: none;
    cursor: pointer;
}
#search_notes .take,.commend,.words{
    position: absolute;
    right:5px;
    top:5px;
    width:25px;
    height:25px;
    background-repeat:no-repeat;
}
#search_notes .take{
    background-image: url(../img/take.png);
}
#search_notes .commend{
    background-image: url(../img/commend.png);
}
#search_notes .words{
    background-image: url(../img/words.png);
}
#search_notes .no_more {
    width: 100%;
    float: left;
    text-align: center;
    color: #999;
    margin: 30px 0 60px 0;
}
.beauty_text .icon,.commend,.words{
    position: absolute;
    right:5px;
    top:5px;
    width:25px;
    height:25px;
    background-repeat:no-repeat;
}
.beauty_text .icon img{
    width:24px;
    height:24px;
}
.collection_heart_ico{
    background-image: url(../img/collection_ico.png);
    width:22px;
    height:20px;
    margin-top:2px;
    float: left;
    margin-left:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
}