<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}管理后台</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <script src="__PUBLIC__/back_js/jquery-form.js"></script>
    <style>
        .current{background-color:rgba(0,255,150,0.5);}
        .prev,.num,.next,.current{width:auto;height:auto;margin:4px;padding:8px 10px;box-shadow:0 0 2px rgba(0,0,0,0.2);background-color:rgba(255,255,255,0.1);}
        input[type=file]{width:152px;display:inline;}
        #myTabContent textarea{height: 300px;}
        #myTabContent select{margin: 10px;}
        #android_apk{margin-top: 10px;}
        .tr_width_3{width: 30%;}
    </style>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">APP管理</li>
                <li class="active">安装包管理</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div id="myTabContent" class="tab-content">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>类型</th>
                    <th class="tr_width_3">版本号</th>
                    <th>更新版本号</th>
                    <th>更新内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="list" item="v" key="k">
                    <form action="#" id="update_form_{$v['type']}" enctype="multipart/form-data">
                    <tr data-type="{$v.type}">
                        <input type="hidden" value="{$v.type}" name="type">
                        <td>{$k+1}</td>
                        <td>
                            {$v['type']==1?'iOS':'Android' }
                            <if condition="$v['type'] eq 2"><a href="{$v.url}">[下载]</a></if>
                        </td>
                        <td>
                            {$v.version}<br/>
                            <span style="color: blue;">更新内容：{$v.note}</span>
                        </td>
                        <td>
                            版本号：<input type="text" value="" name="version"><br/>
                            <if condition="$v['type'] eq 2">
                                <span>
                                    安装包：<input type="file" name="android_apk" id="android_apk">
                                </span>
                            </if>
                        </td>
                        <td>
                            <textarea name="note" id="note"></textarea>
                        </td>
                        <td class="operation">
                            <a href="javaScript:void(0);">更新</a>
                        </td>
                    </tr>
                    </form>
                </foreach>
                </tbody>
            </table>
            <div class="text-center">
                {$page}
            </div>
        </div><!--myTabContent-->
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>

</body>

<script>
    $(".xtsz").addClass("active open");
    $(".xtsz .bbgx").addClass("active");
    $('.operation a').click(function(){
        var version = $(this).siblings("input[type=text]").val();
        var type = $(this).parent().parent().attr('data-type');
        if(''==version){
            alert('更新版本号不能为空');
        }else{
            //type 1iOS 2Android
            if(type==2){
                if(''==$("#android_apk").val()){
                    alert('Android更新必须上传apk安装包');
                    return;
                }
            }
            $("#update_form_"+type).ajaxSubmit({
                url:"{:U('Admin/System/updateVersion')}",
                dataType: "json",
                beforeSend: function() {
                    $("#update_form_"+type+" .operation a").html('上传中');
                    $("#update_form_"+type+" .operation a").attr('disabled','true');
                },
                type: "post",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success : function(data){
                    alert(data.msg);
                    if(0==data.errorCode){
                        window.location.reload();
                    }
                }
            });
        }
    });
</script>
</html>
