<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/about.css">
    <script src="__JS__/jquery-1.12.4.js"></script>
    <script src="__JS__/unified.js"></script>
    <script src="__JS__/about.js"></script>


</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="about" class="clear">
    <div class="about_box">
        <div class="left">
            <h3>关于我们</h3>
            <ul>
                <li>
                    <span class="color">校疯购简介</span>
                    <div class="about_left_ico"></div>
                </li>
                <li>
                    <span>创始人简介</span>
                    <div></div>
                </li>
                <li>
                    <span>企业文化</span>
                    <div></div>
                </li>
                <li>
                    <span>大事记</span>
                    <div></div>
                </li>
                <li>
                    <span>合作伙伴</span>
                    <div></div>
                </li>
                <li>
                    <span>法律声明</span>
                    <div></div>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul>
                <li>
                    <div class="right_box">
                        <div class="banner">
                            <img src="__IMG__/banner1.png" alt="">
                        </div>
                        <div class="introduce">
                            <div class="in_title">
                                <span>校疯购简介</span>
                            </div>
                            <div class="in_content">
                                <p>你的青春，有我就“购”了！校疯购是中国校园最受欢迎的服装搭配的电商平台，礼物说致力于为用户提供最全的礼物品类以及最多的送礼场景参考，打造最时尚的全新礼物购买体验。</p>
                                <p>我们有着 100 多位礼物达人精心挑选的 10000 多份完美礼物选择，每天有 1000 多万人在上面为朋友、自己、家人挑选着合适的礼物。</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="hide">
                    <div class="b_left">
                        <img src="__IMG__/about_csr.png" alt="">
                    </div>
                    <div class="b_right">
                        <div class="in_title">
                            <span>创始人简介</span>
                        </div>
                        <div class="in_content">
                            <p>你的青春，有我就“购”了！校疯购是中国校园最受欢迎的服装搭配的电商平台，礼物说致力于为用户提供最全的礼物品类以及最多的送礼场景参考，打造最时尚的全新礼物购买体验。</p>
                            <p>我们有着 100 多位礼物达人精心挑选的 10000 多份完美礼物选择，每天有 1000 多万人在上面为朋友、自己、家人挑选着合适的礼物。</p>
                        </div>
                    </div>
                </li>
                <li class="hide">
                    <div class="c_left">
                        <img src="__IMG__/about_qywh.png" alt="">
                    </div>
                    <div class="c_right">
                        <div class="in_title">
                            <span>企业文化</span>
                        </div>
                        <ul>
                            <li>
                                <h3> 使命 Mission</h3>
                                <p> 让送礼物变得更愉快</p>
                            </li>
                            <li>
                                <h3>愿景 Vision</h3>
                                <p> 成为最懂你的宝贝平台</p>
                            </li>
                            <li>
                                <h3>价值观 Value</h3>
                                <p> 诚信 . 年轻 . 创新 . 客户至上</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="hide">
                    <div class="d_content">
                        <div class="in_title">
                            <span>大事件</span>
                        </div>
                        <div class="in_content">
                            <ul>
                                <foreach name="event_list" item="e">
                                <li>
                                    <p><strong>{$e.time|date='Y-m-d',###}</strong></p>
                                    <p>{$e.content}</p>
                                </li>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="hide">
                    <div class="e_content">
                        <div class="in_title">
                            <span>合作伙伴</span>
                        </div>
                        <div class="in_content">
                            <ul>
                                <foreach name="partner_list" item="p">
                                <a href="{$p.link}" target="_blank">
                                    <li>
                                        <img src="__APP__{$p.image}" alt="{$p.name}">
                                    </li>
                                </a>
                                </foreach>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="hide">
                    <div class="f_content">
                        <div class="in_title">
                            <span>法律声明</span>
                        </div>
                        <div class="in_content">
                            <p>你的青春，有我就“购”了！校疯购是中国校园最受欢迎的服装搭配的电商平台，礼物说致力于为用户提供最全的礼物品类以及最多的送礼场景参考，打造最时尚的全新礼物购买体验。</p>
                            <p>我们有着 100 多位礼物达人精心挑选的 10000 多份完美礼物选择，每天有 1000 多万人在上面为朋友、自己、家人挑选着合适的礼物。</p>
                            <p>你的青春，有我就“购”了！校疯购是中国校园最受欢迎的服装搭配的电商平台，礼物说致力于为用户提供最全的礼物品类以及最多的送礼场景参考，打造最时尚的全新礼物购买体验。</p>
                            <p>我们有着 100 多位礼物达人精心挑选的 10000 多份完美礼物选择，每天有 1000 多万人在上面为朋友、自己、家人挑选着合适的礼物。</p>
                        </div>
                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>

<div style="margin-bottom: 500px;clear: both;"></div>

<include file="Public/link_file/footer.html" />

</body>
</html>
