<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/business.css">

</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="business" class="clear">
    <div class="business_box">
        <div class="banner">
            <img src="__IMG__/business_banner.png" alt="">
        </div>
        <div class="advantage">
            <div class="title"></div>
            <ul>
                <li>
                    <img src="__IMG__/b_one.png" alt="">
                    <h2>领先的大学生电商</h2>
                    <p>摒弃传统电商的商品冗杂，美文美搭让你更容易看到属于你的穿扮，详尽的商品让你在大学生活更能绽放青青。</p>
                </li>
                <li>
                    <img src="__IMG__/b_tow.png" alt="">
                    <h2>零成本的展示渠道</h2>
                    <p>无需您花一分钱成本，即有专业编辑帮你写出最适合的产品描述，更有专员为您的产品找到最适合的大学生群体。</p>
                </li>
                <li>
                    <img src="__IMG__/b_three.png" alt="">
                    <h2>精准的活跃用户</h2>
                    <p>IOS/Android/WP/Web,全平台终端覆盖，千万级别注册用户，百万级别日活跃用户，80%女性占比，买买买兼职停不下来！</p>
                </li>
            </ul>
        </div>
        <div class="cooperation">
            <div class="coo_ico"></div>
            <ul>
                <li>
                    <img src="__IMG__/c_one.png" alt="">
                    <h2>供应商合作</h2>
                    <p>校疯购希望与优质供应商合作，为大学生提供青春活力，展现自我的大学生活。重点需求品如下：男女性各类服装、宿舍用品、情侣服装、零食等（现货为主）</p>
                </li>
                <li>
                    <img src="__IMG__/c_two.png" alt="">
                    <h2>商铺合作</h2>
                    <p>校疯购每日挑选优质商品及优质商家推送给用户，通过美文美搭、社区、积分商城等专区让大学生在这个平台能够挑选属于自己的商品，如果您希望自己的唱片能展现于校疯购中，欢迎您联系我们。<span>您可以将您的商铺与我们合作，提供优质的商品给我们，我们将会全面剖析您的商品属性，带给您更多的目标客户。邮箱：3430971662@.qq.com</span></p>
                </li>
            </ul>
        </div>

    </div>
</div>

<include file="Public/link_file/footer.html" />

</body>
</html>
