<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/index.css">
    <script src="__JS__/jquery-1.12.4.js"></script>
    <script src="__JS__/unified.js"></script>
    <script src="__JS__/index.js"></script>
    <script>
        $(function(){
            $('#jump_home').addClass('selected');
        })
    </script>

</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="banner" class="clear">
    <div class="sliding_box">
        <ul class="sliding">
            <foreach name="banner" item="b">
                <a href="{$b['link']}" target="_blank">
                    <li><img src="__APP__{$b.image}" alt="{$b.name}"></li>
                </a>
            </foreach>
        </ul>
        <div class="shu">
            <ul class="shu_num">
                <foreach name="banner" item="b" key="k">
                    <if condition="$k eq 0">
                        <li class="selected"></li>
                        <else/>
                        <li></li>
                    </if>
                </foreach>
            </ul>
        </div>
    </div>

</div>

<div id="beauty_text" class="clear">
    <div class="beauty_box">
        <h3>精选美文</h3>
        <div class="beauty_text">
            <ul>
                <foreach name="subject_list" item="s">
                <li data-sid="{$s.subject_id}">
                    <a href="{:U('Subject/subjectDetail',array('sid'=>$s['subject_id']))}">
                        <!--<div class="icon">
                            <img src="__APP__{$s.logo_image}" alt="">
                        </div>-->
                        <div class="text_img">
                            <img src="__APP__{$s.image}" alt="">
                        </div>
                        <div class="text_title">
                            {$s.name}
                        </div>
                        <div class="text_content">
                            <p>{$s.text_content}</p>
                        </div>
                    </a>


                    <div class="s_c_c">
                        <div class="share">
                            <a href="{:U('Subject/subjectDetail',array('sid'=>$s['subject_id']))}">
                                <div class="share_ico"></div>
                                <span>分享</span>
                            </a>
                        </div>
                        <div class="collection">
                            <a href="javascript:;">
                                <if condition="$s['user_id']">
                                    <div class="collection_heart_ico"></div>
                                    <else/>
                                    <div class="collection_ico"></div>
                                </if>
                                <span>收藏</span>
                            </a>
                        </div>
                        <div class="comment">
                            <a href="{:U('Subject/subjectDetail',array('sid'=>$s['subject_id']))}">
                                <div class="comment_ico"></div>
                                <span>评论</span>
                            </a>
                        </div>
                    </div>
                </li>
                </foreach>
            </ul>

            <div class="jump_top">
                <div class="jump_box">
                    <img src="__IMG__/jump_top.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="choose_page">
        {$page}
    </div>



</div>

<include file="Public/link_file/footer.html" />

</body>
</html>