<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/back_css/edit_common.css">

    <script src="__PUBLIC__/back_js/thumb_img.js"></script>
    <script src="__PUBLIC__/back_js/jquery-form.js"></script>
    <script src="__PUBLIC__/jedate/jedate.js"></script>
    <style>
        #commodity_main input[type=file]{margin-bottom: 10px;}
        #commodity_main img{width: 200px;height: 100px;}
        #commodity_main textarea{width:98%;height: 500px;}
    </style>
    <script>
        $(function(){
            jeDate({
                dateCell:"#dateinfo",
                format:"YYYY-MM-DD",
                isinitVal:true,
                isTime:true, //isClear:false,
                minDate:"1950-01-01 00:00:00",
            })
        })
        var MODULE = "__MODULE__";
    </script>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">校趣管理</li>
                <li class="active">校趣帖子列表</li>
                <li class="active">编辑校趣帖子</li>
            </ul><!-- .breadcrumb -->
        </div>

        <div id="commodity_details">
            <h1><img src="__PUBLIC__/back_img/ico.png"><empty name="Think.get.id">添加<else/>修改</empty>校趣帖子
                <a href="javascript:history.go(-1);"><span><img src="__PUBLIC__/back_img/return.png"></span></a></h1>
            <div id="commodity_list">
                <!--通用信息_开始-->
                <form action="__ACTION__" method="post" id="edit_form" enctype="multipart/form-data" >

                    <div id="commodity_main" class="clear">
                        <table>
                            <input type="hidden" value="{$interact['interact_id']}" name="id">
                            <tr>
                                <th>所属分类：</th>
                                <td>
                                    <select name="s_cate_id">
                                        <foreach name="cate_list" item="c">
                                        <option value="{$c.s_cate_id}"
                                            <if condition="$interact['s_cate_id'] eq $c['s_cate_id']">selected="selected"</if>
                                        >{$c.name}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>学校：</th>
                                <td>
                                    <select name="school_id">
                                        <option value="0">其他</option>
                                        <foreach name="school_list" item="s">
                                            <option value="{$s.school_id}"
                                            <if condition="$interact['school_id'] eq $s['school_id']">selected="selected"</if>
                                            >{$s.name}</option>
                                        </foreach>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>是否视频：</th>
                                <td>
                                    <select name="is_video">
                                        <option value="0"
                                        <if condition="$interact['is_video'] eq 0">selected="selected"</if>
                                        >否</option>
                                        <option value="1"
                                        <if condition="$interact['is_video'] eq 1">selected="selected"</if>
                                        >是</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>标题：</th>
                                <td><input type="text" name="title" value="{$interact.title}"></td>
                            </tr>
                            <tr>
                                <th>作者</th>
                                <td><input type="text" name="user_nickname" value="{$interact.user_nickname}"></td>
                            </tr>
                            <tr>
                                <th>图片：</th>
                                <td>
                                    <empty name="interact">
                                        <img src="" id="to_img">
                                        <else/>
                                        <img src="__APP__{$interact.image}" id="to_img">
                                    </empty>
                                    <input type="file" id="form_file" onchange="getImageFormat('form_file','to_img');" name="form_image"/>
                                </td>
                            </tr>
                            <tr>
                                <th>日期：</th>
                                <td>
                                    <notempty name="interact">
                                        <input type="text" readonly="true" id="dateinfo" name="time"
                                               value="{$interact.time|date='Y-m-d',###}">
                                        <else/>
                                        <input type="text" readonly="true" id="dateinfo" name="time">
                                    </notempty>
                                </td>
                            </tr>
                            <tr>
                                <th>点赞数：</th>
                                <td><input type="text" value="{$interact.praise_count|intval}" name="praise_count"></td>
                            </tr>
                            <tr>
                                <th>评论数：</th>
                                <td><input type="text" value="{$interact.comment_count|intval}" name="comment_count"></td>
                            </tr>
                            <tr>
                                <th>分享数：</th>
                                <td><input type="text" value="{$interact.share_count|intval}" name="share_count"></td>
                            </tr>
                            <tr>
                                <th>内容</th>
                                <td>
                                    <textarea name="content" id="container">{$interact.content}</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <input id="li1_btn" type="button" value="保存"/>
                </form>
                <!--通用信息_结束-->
            </div>
        </div>
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>

</body>
<!-- 配置文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
<!--编辑器语言加载-->
<script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

<link type="text/css" rel="stylesheet" href="__PUBLIC__/ueditor/third-party/video-js/video-js.css"/>
<script language="javascript" type="text/javascript" src="__PUBLIC__/ueditor/third-party/video-js/video.js"></script>

<!-- 实例化编辑器 -->
<script type="text/javascript">
    var ue = UE.getEditor('container',{
        initialFrameWidth: "100%", //初化宽度
        initialFrameHeight: 400, //初化高度
        serverUrl: "{$server_url}",
        maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
        toolbars: [
            ['fullscreen', 'source', '|', 'undo', 'redo','|', 'bold', 'italic', 'underline', 'fontborder',
                'strikethrough', 'removeformat', 'formatmatch', 'autotypeset',
                'blockquote', 'pasteplain', '|', 'forecolor','backcolor', 'insertorderedlist',
                'insertunorderedlist', 'selectall', 'cleardoc', '|','rowspacingtop', 'rowspacingbottom',
                'lineheight', '|','customstyle', 'paragraph', 'fontfamily', 'fontsize','|','indent' , 'justifyleft', 'justifycenter','justifyright',
                'justifyjustify',  '|', 'link', 'unlink', '|',
                'simpleupload', 'insertvideo' , 'map', '|',
                'horizontal', 'date', 'time','spechars',  '|', 'print', 'preview', 'searchreplace']
        ]
    });
</script>
<script>
    $(".xqgl").addClass("active open");
    $(".xqgl .xqtzlb").addClass("active");
    $('#li1_btn').click(function(){
        var str = UE.getEditor('container').getContent();
        $('#edit_form').ajaxSubmit({
            url:"__ACTION__",
            dataType: "json",
            beforeSend: function() {
                $('#li1_btn').attr('disabled','true');
                $('#li1_btn').attr('value','上传中...');
            },
            data:{
                'content':str.replace(/&nbsp;/g, " "),
            },
            type: "post",
            contentType: "application/x-www-form-urlencoded; charset=utf-8",
            success : function(data){
                alert(data.msg);
                if(0==data.errorCode){
                    location.href = document.referrer;
                }else{
                    $('#li1_btn').removeAttr('disabled');
                    $('#li1_btn').attr('value','保存');
                }
            }
        });
    });
</script>
</html>
