<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$pro_name}后台管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/assets/css/share.css" /><!--另添加样式文件-->
    <include  file="Public/assets/common/header.html"/><!--头部文件-->
    <link href="__PUBLIC__/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--讨论区滚动条begin-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/css/jscrollpane1.css" />
    <!--上传文件-->
    <link href="__PUBLIC__/assets/plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <style>
        #home a{margin-bottom: 10px;}
    </style>
</head>

<body>
<include  file="Public/assets/common/top.html"/>
<div class="main-container" id="main-container">
    <include  file="Public/assets/common/nav.html"/><!--左侧导航栏-->
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">首页</a>
                </li>
                <li class="active">校趣管理</li>
                <li class="active">校趣分类列表</li>
            </ul><!-- .breadcrumb -->
        </div>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <a href="{:U('Admin/Interact/addEditICate');}" class='btn btn-sm btn-primary pull-left'>添加</a>
            </div>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>分类名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="list" item="l" key="k">
                    <tr>
                        <td>{$k+1}</td>
                        <td>{$l.name}</td>
                        <td class="operation">
                            <a href="{:U('Admin/Interact/addEditICate',array('id'=>$l['s_cate_id']))}">编辑</a>
                            <a href="javaScript:void(0);" onclick="delICate('{$l.s_cate_id}');">删除</a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div><!--myTabContent-->
    </div><!-- /.main-content -->
</div><!--main-container-->

<include  file="Public/assets/common/footer.html"/>
</body>

<script>
    $(".xqgl").addClass("active open");
    $(".xqgl .xqfllb").addClass("active");
</script>
<script>
    //删除校趣分类
    function delICate(id){
        if(confirm("是否删除该数据")){
            $.post("{:U('Admin/Interact/delICate')}",{'id':id},function(data){
                alert(data.msg);
                if('0'==data.errorCode){
                    window.location.reload();
                }
            });
        }
    }
</script>
</html>
