<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$pro_name}</title>
    <meta name="keywords" content="{$pro_name},学校,青春,购物,APP,安卓android,苹果iphone">
    <link rel="stylesheet" href="__CSS__/unified.css">
    <link rel="stylesheet" href="__CSS__/beauty_female.css">
    <script src="__JS__/jquery-1.12.4.js"></script>
    <script src="__JS__/unified.js"></script>
    <script src="__JS__/beauty_female.js"></script>

</head>
<body>

<include file="Public/link_file/top_nav.html" />

<div id="search_notes">
    <div class="search_title">
        <div class="male_female">
            <div class="male_line">
                <div <if condition="$sex_id == 2">class="line"</if>>
                    <a href="{:U('Subject/subjectList',array('sex_id'=>2))}"><img src="__IMG__/female.png" alt=""></a>
                </div>
                <div <if condition="$sex_id == 1">class="line"</if>>
                    <a href="{:U('Subject/subjectList',array('sex_id'=>1))}"><img src="__IMG__/male.png" alt=""></a>
                </div>
            </div>
            <ul>
                <a href="{:U('Subject/subjectList',array('s_cate_id'=>$sex_object['s_cate_id'],'sex_id'=>$sex_id))}"><li <if condition="$s_cate_id == 0">class="selected"</if>>{$sex_object.name}</li></a>
                <foreach name="cate_list" item="c">
                    <a href="{:U('Subject/subjectList',array('s_cate_id'=>$c['s_cate_id'],'sex_id'=>$sex_id))}"><li <if condition="$s_cate_id eq $c['s_cate_id']">class="selected"</if>>{$c.name}</li></a>
                </foreach>
            </ul>
        </div>
    </div>


    <div class="search_box">
        <div class="beauty_box">
            <div class="beauty_text">
                <ul>
                    <foreach name="subject_list" item="s">
                        <li data-sid="{$s.subject_id}">
                            <a href="{:U('Subject/subjectDetail',array('sid'=>$s['subject_id']))}">
                            <!--<div class="take">
                                <img src="__APP__{$s.logo_image}" alt="">
                            </div>-->
                            <div class="text_img">
                                <img src="__APP__{$s.image}" alt="">
                            </div>
                            <div class="text_title">
                                {$s.name}
                            </div>
                            <div class="text_content">
                                <p>{$s.text_content}</p>
                            </div>
                            </a>
                            <div class="s_c_c">
                                <div class="share">
                                    <a href="javascript:;">
                                        <div class="share_ico"></div>
                                        <span>分享</span>
                                    </a>
                                </div>
                                <div class="collection">
                                    <a href="javascript:;">
                                        <empty name="s['user_id']">
                                            <div class="collection_ico"></div>
                                            <else/>
                                            <div class="collection_heart_ico"></div>
                                        </empty>
                                        <span>收藏</span>
                                    </a>
                                </div>
                                <div class="comment">
                                    <a href="{:U('Subject/subjectDetail',array('sid'=>$s['subject_id']))}">
                                        <div class="comment_ico"></div>
                                        <span>评论</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </foreach>
                </ul>

                <div class="jump_top">
                    <div class="jump_box">
                        <img src="__IMG__/jump_top.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="choose_page">
            {$page}
        </div>

    </div>

</div>

<include file="Public/link_file/footer.html" />

</body>
</html>